 .u-section-1 {
  min-height: 857px;
}

.u-section-1 .u-shape-1 {
  height: 314px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin: -254px auto 0;
}

.u-section-1 .u-list-1 {
  width: 1140px;
  margin: 35px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 553px;
  grid-gap: 30px 30px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-text-4 {
  margin-top: 23px;
  margin-bottom: 0;
  font-weight: 300;
  font-style: normal;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  width: 240px;
  height: 240px;
  object-position: 50% 94.17%;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-text-7 {
  margin-top: 23px;
  margin-bottom: 0;
  font-weight: 300;
  font-style: normal;
}

.u-section-1 .u-social-icons-2 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-5 {
  height: 100%;
}

.u-section-1 .u-icon-6 {
  height: 100%;
}

.u-section-1 .u-icon-7 {
  height: 100%;
}

.u-section-1 .u-icon-8 {
  height: 100%;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-text-10 {
  margin-top: 23px;
  margin-bottom: 0;
  font-weight: 300;
  font-style: normal;
}

.u-section-1 .u-social-icons-3 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-9 {
  height: 100%;
}

.u-section-1 .u-icon-10 {
  height: 100%;
}

.u-section-1 .u-icon-11 {
  height: 100%;
}

.u-section-1 .u-icon-12 {
  height: 100%;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.u-section-1 .u-text-11 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-text-13 {
  margin-top: 23px;
  margin-bottom: 0;
  font-weight: 300;
  font-style: normal;
}

.u-section-1 .u-social-icons-4 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-13 {
  height: 100%;
}

.u-section-1 .u-icon-14 {
  height: 100%;
}

.u-section-1 .u-icon-15 {
  height: 100%;
}

.u-section-1 .u-icon-16 {
  height: 100%;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-image-5 {
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.u-section-1 .u-text-14 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-text-16 {
  margin-top: 23px;
  margin-bottom: 0;
  font-weight: 300;
  font-style: normal;
}

.u-section-1 .u-social-icons-5 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-17 {
  height: 100%;
}

.u-section-1 .u-icon-18 {
  height: 100%;
}

.u-section-1 .u-icon-19 {
  height: 100%;
}

.u-section-1 .u-icon-20 {
  height: 100%;
}

.u-section-1 .u-list-item-6 {
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-image-6 {
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.u-section-1 .u-text-17 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-text-19 {
  margin-top: 23px;
  margin-bottom: 0;
  font-weight: 300;
  font-style: normal;
}

.u-section-1 .u-social-icons-6 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-21 {
  height: 100%;
}

.u-section-1 .u-icon-22 {
  height: 100%;
}

.u-section-1 .u-icon-23 {
  height: 100%;
}

.u-section-1 .u-icon-24 {
  height: 100%;
}

.u-section-1 .u-list-item-7 {
  background-image: none;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-image-7 {
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.u-section-1 .u-text-20 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-21 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-text-22 {
  margin-top: 23px;
  margin-bottom: 0;
  font-weight: 300;
  font-style: normal;
}

.u-section-1 .u-social-icons-7 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-25 {
  height: 100%;
}

.u-section-1 .u-icon-26 {
  height: 100%;
}

.u-section-1 .u-icon-27 {
  height: 100%;
}

.u-section-1 .u-icon-28 {
  height: 100%;
}

.u-section-1 .u-list-item-8 {
  background-image: none;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-image-8 {
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.u-section-1 .u-text-23 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-24 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-text-25 {
  margin-top: 23px;
  margin-bottom: 0;
  font-weight: 300;
  font-style: normal;
}

.u-section-1 .u-social-icons-8 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-29 {
  height: 100%;
}

.u-section-1 .u-icon-30 {
  height: 100%;
}

.u-section-1 .u-icon-31 {
  height: 100%;
}

.u-section-1 .u-icon-32 {
  height: 100%;
}

.u-section-1 .u-list-item-9 {
  background-image: none;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-image-9 {
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.u-section-1 .u-text-26 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-27 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-text-28 {
  margin-top: 23px;
  margin-bottom: 0;
  font-weight: 300;
  font-style: normal;
}

.u-section-1 .u-social-icons-9 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-33 {
  height: 100%;
}

.u-section-1 .u-icon-34 {
  height: 100%;
}

.u-section-1 .u-icon-35 {
  height: 100%;
}

.u-section-1 .u-icon-36 {
  height: 100%;
}

.u-section-1 .u-list-item-10 {
  background-image: none;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px;
}

.u-section-1 .u-image-10 {
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.u-section-1 .u-text-29 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-30 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-text-31 {
  margin-top: 23px;
  margin-bottom: 0;
  font-weight: 300;
  font-style: normal;
}

.u-section-1 .u-social-icons-10 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-37 {
  height: 100%;
}

.u-section-1 .u-icon-38 {
  height: 100%;
}

.u-section-1 .u-icon-39 {
  height: 100%;
}

.u-section-1 .u-icon-40 {
  height: 100%;
}

.u-section-1 .u-list-item-11 {
  background-image: none;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px;
}

.u-section-1 .u-image-11 {
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.u-section-1 .u-text-32 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-33 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-text-34 {
  margin-top: 23px;
  margin-bottom: 0;
  font-weight: 300;
  font-style: normal;
}

.u-section-1 .u-social-icons-11 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-41 {
  height: 100%;
}

.u-section-1 .u-icon-42 {
  height: 100%;
}

.u-section-1 .u-icon-43 {
  height: 100%;
}

.u-section-1 .u-icon-44 {
  height: 100%;
}

.u-section-1 .u-list-item-12 {
  background-image: none;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px;
}

.u-section-1 .u-image-12 {
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.u-section-1 .u-text-35 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-36 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-text-37 {
  margin-top: 23px;
  margin-bottom: 0;
  font-weight: 300;
  font-style: normal;
}

.u-section-1 .u-social-icons-12 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-45 {
  height: 100%;
}

.u-section-1 .u-icon-46 {
  height: 100%;
}

.u-section-1 .u-icon-47 {
  height: 100%;
}

.u-section-1 .u-icon-48 {
  height: 100%;
}

.u-section-1 .u-list-item-13 {
  background-image: none;
}

.u-section-1 .u-container-layout-13 {
  padding: 30px;
}

.u-section-1 .u-image-13 {
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.u-section-1 .u-text-38 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-39 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-text-40 {
  margin-top: 23px;
  margin-bottom: 0;
  font-weight: 300;
  font-style: normal;
}

.u-section-1 .u-social-icons-13 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-49 {
  height: 100%;
}

.u-section-1 .u-icon-50 {
  height: 100%;
}

.u-section-1 .u-icon-51 {
  height: 100%;
}

.u-section-1 .u-icon-52 {
  height: 100%;
}

.u-section-1 .u-list-item-14 {
  background-image: none;
}

.u-section-1 .u-container-layout-14 {
  padding: 30px;
}

.u-section-1 .u-image-14 {
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.u-section-1 .u-text-41 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-42 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-text-43 {
  margin-top: 23px;
  margin-bottom: 0;
  font-weight: 300;
  font-style: normal;
}

.u-section-1 .u-social-icons-14 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-53 {
  height: 100%;
}

.u-section-1 .u-icon-54 {
  height: 100%;
}

.u-section-1 .u-icon-55 {
  height: 100%;
}

.u-section-1 .u-icon-56 {
  height: 100%;
}

.u-section-1 .u-list-item-15 {
  background-image: none;
}

.u-section-1 .u-container-layout-15 {
  padding: 30px;
}

.u-section-1 .u-image-15 {
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.u-section-1 .u-text-44 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-45 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-text-46 {
  margin-top: 23px;
  margin-bottom: 0;
  font-weight: 300;
  font-style: normal;
}

.u-section-1 .u-social-icons-15 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-57 {
  height: 100%;
}

.u-section-1 .u-icon-58 {
  height: 100%;
}

.u-section-1 .u-icon-59 {
  height: 100%;
}

.u-section-1 .u-icon-60 {
  height: 100%;
}

.u-section-1 .u-list-item-16 {
  background-image: none;
}

.u-section-1 .u-container-layout-16 {
  padding: 30px;
}

.u-section-1 .u-image-16 {
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.u-section-1 .u-text-47 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-48 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-text-49 {
  margin-top: 23px;
  margin-bottom: 0;
  font-weight: 300;
  font-style: normal;
}

.u-section-1 .u-social-icons-16 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-61 {
  height: 100%;
}

.u-section-1 .u-icon-62 {
  height: 100%;
}

.u-section-1 .u-icon-63 {
  height: 100%;
}

.u-section-1 .u-icon-64 {
  height: 100%;
}

.u-section-1 .u-list-item-17 {
  background-image: none;
}

.u-section-1 .u-container-layout-17 {
  padding: 30px;
}

.u-section-1 .u-image-17 {
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.u-section-1 .u-text-50 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-51 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-text-52 {
  margin-top: 23px;
  margin-bottom: 0;
  font-weight: 300;
  font-style: normal;
}

.u-section-1 .u-social-icons-17 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-65 {
  height: 100%;
}

.u-section-1 .u-icon-66 {
  height: 100%;
}

.u-section-1 .u-icon-67 {
  height: 100%;
}

.u-section-1 .u-icon-68 {
  height: 100%;
}

.u-section-1 .u-list-item-18 {
  background-image: none;
}

.u-section-1 .u-container-layout-18 {
  padding: 30px;
}

.u-section-1 .u-image-18 {
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.u-section-1 .u-text-53 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-54 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-text-55 {
  margin-top: 23px;
  margin-bottom: 0;
  font-weight: 300;
  font-style: normal;
}

.u-section-1 .u-social-icons-18 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-69 {
  height: 100%;
}

.u-section-1 .u-icon-70 {
  height: 100%;
}

.u-section-1 .u-icon-71 {
  height: 100%;
}

.u-section-1 .u-icon-72 {
  height: 100%;
}

.u-section-1 .u-list-item-19 {
  background-image: none;
}

.u-section-1 .u-container-layout-19 {
  padding: 30px;
}

.u-section-1 .u-image-19 {
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.u-section-1 .u-text-56 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-57 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-text-58 {
  margin-top: 23px;
  margin-bottom: 0;
  font-weight: 300;
  font-style: normal;
}

.u-section-1 .u-social-icons-19 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-73 {
  height: 100%;
}

.u-section-1 .u-icon-74 {
  height: 100%;
}

.u-section-1 .u-icon-75 {
  height: 100%;
}

.u-section-1 .u-icon-76 {
  height: 100%;
}

.u-section-1 .u-list-item-20 {
  background-image: none;
}

.u-section-1 .u-container-layout-20 {
  padding: 30px;
}

.u-section-1 .u-image-20 {
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.u-section-1 .u-text-59 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-60 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-text-61 {
  margin-top: 23px;
  margin-bottom: 0;
  font-weight: 300;
  font-style: normal;
}

.u-section-1 .u-social-icons-20 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-77 {
  height: 100%;
}

.u-section-1 .u-icon-78 {
  height: 100%;
}

.u-section-1 .u-icon-79 {
  height: 100%;
}

.u-section-1 .u-icon-80 {
  height: 100%;
}

.u-section-1 .u-list-item-21 {
  background-image: none;
}

.u-section-1 .u-container-layout-21 {
  padding: 30px;
}

.u-section-1 .u-image-21 {
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.u-section-1 .u-text-62 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-63 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-text-64 {
  margin-top: 23px;
  margin-bottom: 0;
  font-weight: 300;
  font-style: normal;
}

.u-section-1 .u-social-icons-21 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-81 {
  height: 100%;
}

.u-section-1 .u-icon-82 {
  height: 100%;
}

.u-section-1 .u-icon-83 {
  height: 100%;
}

.u-section-1 .u-icon-84 {
  height: 100%;
}

.u-section-1 .u-list-item-22 {
  background-image: none;
}

.u-section-1 .u-container-layout-22 {
  padding: 30px;
}

.u-section-1 .u-image-22 {
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.u-section-1 .u-text-65 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-66 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-text-67 {
  margin-top: 23px;
  margin-bottom: 0;
  font-weight: 300;
  font-style: normal;
}

.u-section-1 .u-social-icons-22 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-85 {
  height: 100%;
}

.u-section-1 .u-icon-86 {
  height: 100%;
}

.u-section-1 .u-icon-87 {
  height: 100%;
}

.u-section-1 .u-icon-88 {
  height: 100%;
}

.u-section-1 .u-list-item-23 {
  background-image: none;
}

.u-section-1 .u-container-layout-23 {
  padding: 30px;
}

.u-section-1 .u-image-23 {
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.u-section-1 .u-text-68 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-69 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-text-70 {
  margin-top: 23px;
  margin-bottom: 0;
  font-weight: 300;
  font-style: normal;
}

.u-section-1 .u-social-icons-23 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-89 {
  height: 100%;
}

.u-section-1 .u-icon-90 {
  height: 100%;
}

.u-section-1 .u-icon-91 {
  height: 100%;
}

.u-section-1 .u-icon-92 {
  height: 100%;
}

.u-section-1 .u-list-item-24 {
  background-image: none;
}

.u-section-1 .u-container-layout-24 {
  padding: 30px;
}

.u-section-1 .u-image-24 {
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.u-section-1 .u-text-71 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-72 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-text-73 {
  margin-top: 23px;
  margin-bottom: 0;
  font-weight: 300;
  font-style: normal;
}

.u-section-1 .u-social-icons-24 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-93 {
  height: 100%;
}

.u-section-1 .u-icon-94 {
  height: 100%;
}

.u-section-1 .u-icon-95 {
  height: 100%;
}

.u-section-1 .u-icon-96 {
  height: 100%;
}

.u-section-1 .u-text-74 {
  font-style: normal;
  text-align: left;
  margin: 28px auto 50px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 489px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    min-height: 822px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-container-layout-18 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-container-layout-19 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-container-layout-20 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-container-layout-21 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-container-layout-22 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-container-layout-23 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-container-layout-24 {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-21 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-22 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-23 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-24 {
    padding-left: 10px;
    padding-right: 10px;
  }
}